body {
	background: #e4f7ff;
    font-size: 110%;
}

#myDiv {
    display: table;
    margin: auto;
    margin-top: 50px;
    border-radius: 7px;
    width: 250px;
    height: 150px;
    background: #3c3838;
    color: white;
}

h3 {
    margin-left: 55px;
}

h4 {
    margin-left: 30px;
}